@import 'bootstrap';
@import 'base';

/* Override styles from ember-osf and osf */
.footer {
    margin-top: 0;
    text-shadow: 0 1px 0 #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    color: #555;
    position:fixed;
    bottom:0;
    left:0;
}

.footer ul, .footer li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.osf-gravatar>img {
    border: 1px solid #CDCDCD;
    border-radius: 13px;
    margin-right: 5px;
}

a.navbar-service::before {
    content: "/";
    padding-right: 8px;
    color: #ccc;
}

#navbarScope a.nav-user-dropdown {
    padding-top: 12px;
    padding-bottom: 11px;
}

#navbarScope .btn-top-signup {
    padding: 2px 20px;
    margin-top: 5px;
    line-height: 1.7;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

#navbarScope .btn-top-login {
    padding: 2px 30px;
    margin-top: 5px;
    line-height: 1.7;
}

#devmode {
  position:fixed;
  bottom:0;
  left:0;
   border-top-right-radius:8px;
   background-color:red;
   color:white;
   padding:.5em;
}



.osf-logo {
    background: url(img/osf-logo.png) top center no-repeat;
    height: 70px;
    background-size: contain;
}
