<div class="row">
    <div class="col-xs-12">
        <h1> Discover Repositories - Example Only </h1>
        <p>{{#link-to "repositories"}} Repositories Home{{/link-to}}</p>
        <p>
            A list of all repositories:
        </p>
        <ul>
            {{#each model as |repository|}}
                <li> {{#link-to 'detail' repository.id}}  <p> <b>{{repository.title}} </b> </p> {{/link-to}} </li>
            {{/each}}
        </ul>
    </div>
</div>
