<div class="container">
  <div class="row">
      <div class="col-xs-12 p-t-xl text-center">
          <div class="osf-logo"></div>
        <h1> OSF Repositories </h1>
        <h2> Your code here! </h2>
      </div>
  </div>
</div>
